html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}


#stage {
    color: #000;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-family:'HelveticaNeueW01-45Ligh';
    font-size: 22px;
}

